<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <appSettings>
    <add key="GlnNo" value="" />
    <add key="KullaniciAdi" value="" />
    <add key="Sifre" value="" />
    <add key="GlnNo2" value="" />
    <add key="KullaniciAdi2" value="" />
    <add key="Sifre2" value="" />
    <add key="Deaktivasyon" value="" />
    <add key="NetsisUser" value="" />
    <add key="NetsisPassword" value="" />
    <add key="Database" value="" />
    <add key="Eczane1" value="" />
    <add key="EczaneGln1" value="" />
    <add key="EczaneUser1" value="" />
    <add key="EczanePass1" value="" />
    <add key="Eczane2" value="" />
    <add key="EczaneGln2" value="" />
    <add key="EczaneUser2" value="" />
    <add key="EczanePass2" value="" />
    <add key="Eczane3" value="" />
    <add key="EczaneGln3" value="" />
    <add key="EczaneUser3" value="" />
    <add key="EczanePass3" value="" />
    <add key="FaturaDizaynNo" value="" />
    <add key="SiparisDizaynNo" value="" />
    <add key="GFaturaDizaynNo" value="" />
    <add key="ResmiEvrakSeri" value="" />
    <add key="GayriResmiEvrakSeri" value="" />
    <add key="AlisIrsSeri" value="" />
    <add key="KosulKodu" value="" />
    <add key="Beseri" value="true" />
  </appSettings>
  
  <connectionStrings>
    <add name="MikroDB_V14Entities" connectionString="metadata=res://*/MikroMain.csdl|res://*/MikroMain.ssdl|res://*/MikroMain.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MikroDB_V14;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FIRMAEntities" connectionString="metadata=res://*/Firma.csdl|res://*/Firma.ssdl|res://*/Firma.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FIRMA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlClient" />
      <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </DbProviderFactories>
  </system.data>
</configuration>

